{{ client }}_{{ env }}:
  hosts:
{%- for instance in instances -%}
{% set apps = instance.get_apps() %}
    {{ instance.get_name().replace('-', '_') }}:
      ansible_host: {{ instance.get_ip_address() }}
      apps: {{ apps }}
      nginx:
    {%- if apps == ['lendingservices', 'lion'] %}
        443:
          apps: ['lendingservices']
        1443:
          apps: ['lion']
    {%- else %}    
        443:
          nginx_apps: {{ apps }}
    {%- endif -%}

{%- endfor -%}
    