{%for env in environments %}
{{ client_code }}_{{ env }}:
  hosts:
{%- set instances = instances | selectattr("env", "equalto", env) -%}
{%- set rds_creds = rds_creds | selectattr("env", "equalto", env) | list -%}
{%- for instance in instances -%}
{% set apps = instance.get_apps() %}
    {{ instance.get_name().replace('-', '_') }}:
      ansible_host: {{ instance.get_ip_address() }}
      apps: {{ apps }}
      nginx:
    {%- if apps == ['lendingservices', 'lion'] %}
        443:
          apps: ['lendingservices']
        1443:
          apps: ['lion']
    {%- else %}    
        443:
          nginx_apps: {{ apps }}
    {%- endif %}
{%- endfor %}
{%- endfor %}

  vars:
    ansible_ssh_private_key_file: {{ ssh_private_key_file_path }}
    cluster_path: {{ rds_creds[0].get_hostname() }}
    aws_profile: {{ client_account_aws_profile }}
    db_pwd: {{ rds_creds[0].get_password() }}